
#body-box{
    position: absolute;
    width: 100%;
}
#top{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}
#top li{
    left:-50%;
    padding: none !important;
}

/*PORTFOLIO*/
#portfolio{
    display: inline-block;
    padding: 50px;
    padding-left: 20%;
}

.front img{
    margin: auto;
}

.portfolio-item:hover{
	transform: rotateY(180deg);
	transition-duration: 1s;
	transform-style: preserve-3d;
}

.front{
	position: absolute;
}
.back{
	transform: rotateY( 180deg );
}

.portfolio-item div{
    backface-visibility: hidden;
}

/*SOCIAL MEDIA SPRITES*/
#social-sprites ul{
  list-style: none;
}

#social-sprites{
    position: relative;
    height: 50px;
    display: block;
    clear: both;
    padding-left: 0px;

}
#social-sprites li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    top: 0;
    list-style-type: none;
}
#facebook{
    left: 0px;
    background: url('../images/Social_Sprites.png') 0 0;
}
#facebook:hover{
    left: 0px;
    background: url('../images/Social_Sprites.png') 0 45px;
}
#twitter{
    left: 50px;
    background: url('../images/Social_Sprites.png') -45px 0;
}
#twitter:hover{
    left: 50px;
    background: url('../images/Social_Sprites.png') -45px 45px;
}
#linkedin{
    left: 100px;
    background: url('../images/Social_Sprites.png') -90px 0;
}
#linkedin:hover{
    left: 100px;
    background: url('../images/Social_Sprites.png') -90px 45px;
}
#angellist{
    left: 150px;
    background: url('../images/Social_Sprites.png') -135px 0;
}
#angellist:hover{
    left: 150px;
    background: url('../images/Social_Sprites.png') -135px 45px;
}
#github{
    left: 200px;
    background: url('../images/Social_Sprites.png') -180px 0;
}
#github:hover{
    left: 200px;
    background: url('../images/Social_Sprites.png') -180px 45px;
}


/*MEDIA SCREENS*/
 @media only screen and (max-width: 240px) {
     #top{
         text-align: center;
     }
}